/* 
header-color = #FFFFFF
bg-color-section-one = #E5E5E5
bg-color-section-two = #F5F4FA
hero-ftr-color = #2F303A
accent-color = #2196F3
title-color = #212121
text-color = #757575
*/
:root {
  --header-color: #ffffff;
  --bg-color-section-one: #e5e5e5;
  --bg-color-section-two: #f5f4fa;
  --hero-ftr-color: #2f303a;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --black: #000000;
}
body {
  color: #757575;
  background-color: var(--header-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page {
  background-color: var(--bg-color-section-one);
}

.list {
  list-style: none;
}

/* header */
.header {
  background-color: #ffffff;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-black {
  color: var(--title-color);
}
/* site nav */

.site-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.mail {
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.tel {
  color: #757575;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* hero */
.hero {
  background-color: var(--hero-ftr-color);
}
.hero-title {
  color: var(--header-color);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--header-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-portfolio {
  cursor: pointer;
}

/* section */
.section {
  background-color: #e5e5e5;
}
.section-team {
  background-color: #f5f4fa;
}

.feature-list .section-title {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
}
.secondary-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team {
  font-weight: 500;
}

/* footer */
.footer {
  color: #ffffff;
  background-color: var(--hero-ftr-color);
}
.logo-white {
  color: #ffffff;
}
